.brand__logo {
  background: radial-gradient(circle, #004d00, #007f00);
}

:root {
  --bg: #004d00; /* deep green */
  --primary-accent: linear-gradient(to right, #50b300, #98e6cf); /* emerald and mint */
}

.btn--primary {
  background: var(--primary-accent);
  background-size: 200% auto;
  transition: 0.5s;
}

.btn--primary:hover {
  background-position: right center;
}